body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-bar{
  text-align: center;
  color: white;
  margin: auto;
  padding: 2vh 0 2vh 0;
  background-color: #3f51b5;
}
.container{
  width: 50%;
  margin: auto;
  margin-top:20px;
  padding: 20px;
}
.TitleHeader{
  text-align: center;
  background-color: #3f51b5;
  color: white;
  font-size: 35px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}